@charset "UTF-8";

:root {
  --app-dark-bg:#1a1d28;
  --app-red:#ff3c57;
  --app-green:#33ab4e;
  --app-purple:#833cff;
  --app-orange:#ff833c;
  --app-orange-hover:#fe7a2d;
  --app-blue:#3c57ff;
  --app-blue-hover:#364ee6;
  --app-light-bg: #ffffff;
}

.body {
  background: var(--app-dark-bg);
}

h1, h2, h3, a, p {
  color: var(--app-light-bg);
}

.container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;
}

.main-container{
  margin: 0px auto;
  padding: 25px;
  border-radius: 5px;
}
