@import url('./reset.css');

:root {
  --app-dark-bg:#1a1d28;
  --app-red:#ff3c57;
  --app-green:#33ab4e;
  --app-purple:#833cff;
  --app-orange:#ff833c;
  --app-orange-hover:#fe7a2d;
  --app-blue:#3c57ff;
  --app-blue-hover:#364ee6;
  --app-light-bg: #ffffff;
  --app-gray: #c0bbbac3;
}

.body {
  background: var(--app-dark-bg);
}

h1, h2, h3, h4, a {
  color: var(--app-light-bg);
}

p {
  color : var(--app-dark-bg)
}

.container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;
}

.main-container{
  margin: 0px auto;
  padding: 25px;
  border-radius: 5px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--app-dark-bg);
  color: var(--app-light-bg);
  padding: 1rem;
}

nav ul {
  display: flex;
  list-style: none;
}

nav li {
  margin-right: 1rem;
}

nav a {
  color: var(--app-light-bg);
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

.body{
  width: 100;
  min-height: 50vh;
}

.body-container {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.body-content {
  padding: 10px;
  background-color: var(--app-light-bg); 
  box-shadow: 0 0 10px var(--app-light-bg); 
  margin-top: 50px;
  margin-left: 20%;
  margin-right: 20%;
}

.body-content p {
  font-size: 18px;
  line-height:1.5;
  color: var(--app-purple);
  margin: 0 0 10px;
}

/*.banner-container {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}*/

.banner {
  background-color:var(--app-light-bg);
  color: var(--app-dark-bg);
  height: 35vh;
  text-align: center;
  vertical-align: middle;
}

.footer {
  background-color: var(--app-dark-bg);
  color: var(--app-light-bg);
  text-align: center;
  padding: 10px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

button {
  padding: 8px 16px;
}

.button-white {
  background-color: var(--app-light-bg);
  color: var(--app-blue);
  border: 1px solid var(--app-blue);
  padding: 8px 16px;
}

.button-blue {
  background-color: var(--app-blue);
  color: var(--app-light-bg);
  border: none;
  padding: 8px 16px;
  margin-right: 5px;
}

.button-blue:hover {
  background-color: var(--app-blue);
}

.image-gallery {
  background-color: var(--app-gray);
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 5%;
  color: var(--app-light-bg);
  
}

.image-container {
  flex: 1;
  text-align: left;
}

.image {
  width: 200px;
  height: 300px;
  object-fit: cover;
  margin-bottom: 10px;
}